+++
title = "{{ .ProjectName }}"
type = "docs"
+++

_Generated {{ .GeneratedAt.UTC.Format "2006-01-02 15:04 UTC" }}_

{{ if .Summary }}{{ .Summary }}{{ end }}

## At a glance

{{ if .Expanded -}}
- [**{{ .FeatureCount }} features**](/features/)
{{- else -}}
- [**{{ .FeatureCount }} features**](/mapping/)
{{- end }}
- [**{{ .UndocumentedUserCount }} undocumented (user-facing)**](/gaps/)
- [**{{ .DriftCount }} drift findings**](/gaps/)
{{- if .ScreenshotsRan }}
- [**{{ .ScreenshotGapCount }} missing screenshots**](/screenshots/)
{{- end }}
