baseURL = "/"
languageCode = "en-us"
title = {{ .Title | printf "%q" }}
theme = "hextra"

[markup.goldmark.renderer]
unsafe = true

[params.footer]
displayPoweredBy = false

{{- if .Expanded }}
[taxonomies]
layer        = "layers"
status       = "statuses"
user_facing  = "user_facing"
{{- end }}

[[menu.main]]
name = "Gaps"
url = "/gaps/"
weight = 10

{{- if .ScreenshotsRan }}

[[menu.main]]
name = "Screenshots"
url = "/screenshots/"
weight = 20
{{- end }}

{{- if not .Expanded }}

[[menu.main]]
name = "Mapping"
url = "/mapping/"
weight = 30
{{- else }}

[[menu.main]]
name = "Features"
url = "/features/"
weight = 30
{{- end }}
