class FindTheGaps < Formula
  desc "Find documentation gaps between a codebase and its docs site"
  homepage "https://github.com/sandgardenhq/find-the-gaps"
  version "{{VERSION}}"
  license "MIT"

  depends_on "hugo"
  depends_on "sandgardenhq/tap/mdfetch"

  on_macos do
    on_arm do
      url "https://github.com/sandgardenhq/find-the-gaps/releases/download/v{{VERSION}}/find-the-gaps_v{{VERSION}}_darwin-arm64.tar.gz"
      sha256 "{{SHA_DARWIN_ARM64}}"
    end
    on_intel do
      url "https://github.com/sandgardenhq/find-the-gaps/releases/download/v{{VERSION}}/find-the-gaps_v{{VERSION}}_darwin-amd64.tar.gz"
      sha256 "{{SHA_DARWIN_AMD64}}"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/sandgardenhq/find-the-gaps/releases/download/v{{VERSION}}/find-the-gaps_v{{VERSION}}_linux-arm64.tar.gz"
      sha256 "{{SHA_LINUX_ARM64}}"
    end
    on_intel do
      url "https://github.com/sandgardenhq/find-the-gaps/releases/download/v{{VERSION}}/find-the-gaps_v{{VERSION}}_linux-amd64.tar.gz"
      sha256 "{{SHA_LINUX_AMD64}}"
    end
  end

  def install
    bin.install "ftg"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/ftg --version")
  end
end
